<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://vjs.zencdn.net/7.5.4/video-js.css" rel="stylesheet">
    <title>{% block title %}Simple Video Hosting{% endblock %}</title>
    <link rel="stylesheet" href="{% static "style.css" %}"/>
    <script src="{% static "scripts.js" %}"></script>
    {{ metrika | safe }}
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" href="{% url 'index' %}">Simple Video Hosting</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarCollapse" aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#"
                   id="dropdown03" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">Categories</a>
                <div class="dropdown-menu" aria-labelledby="dropdown03">
                    <a class="dropdown-item" href="#">Category</a>
                    <a class="dropdown-item" href="#">Another Category</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Sign In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Sign Up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Logout</a>
            </li>
            {% for t in types %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'by_type' t %}">{{ t }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>

<main role="main" class="container">
    <div class="row">
        <div class="col-2">
            {% block navigation %}{% endblock %}
        </div>
        <div class="col-10">
            {% block content %}{% endblock %}
        </div>
    </div>
    {% if user.is_staff %}
        <div class="row">
            <form id="updateLibraryForm">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Update Library</button>
            </form>
        </div>
    {% endif %}
</main>

<footer class="text-muted bg-dark">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <p>Powered by &copy; djbios</p>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script src='https://vjs.zencdn.net/7.5.4/video.js'></script>
<script>
  $(document).ready(function () {
        $('#updateLibraryForm').submit(function () {
            $.ajax({
                type: "POST",
                url: {% url 'update_library' %},
            });
            return false;
        });
    });
</script>
</body>
</html>