{% extends "svh/base.html" %}
{% block navigation %}
    <h5>Parent <a href="{% url 'page' videosource.folder.id %}">{{ videosource.name }} </a><br></h5>
    <h5>Neighbours:</h5>
    <div>
        {% for video in videosources_near %}
            <a href="{% url 'play_video' video.id %}">{{ video.name }} </a><br>
        {% endfor %}
    </div>
{% endblock %}

{% block content %}

    <video id='my-video' class='video-js' controls preload='auto' width='640' height='264'
           poster='{{ videosource.videofile.one_preview.image.url }}' data-setup='{}'>

        <source src="{{ videosource.videofile.url }}" type='video/mp4'>
        <p class='vjs-no-js'>
            To view this video please enable JavaScript, and consider upgrading to a web browser that
            <a href='https://videojs.com/html5-video-support/' target='_blank'>supports HTML5 video</a>
        </p>
    </video>
{% endblock %}
